@font-face {
    font-family: 'StratosSkyeng', serif;
    src: url(/fonts/Stratos-Regular.ttf) format('ttf'),
        url(/fonts/Stratos-Regular.woff) format('woff');
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
}

body {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'StratosSkyeng', serif;
    background-color: #004980;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 615px);
    padding-right: calc(50% - 615px);
}

.divGameContainer {
    margin: auto;
    width: 1030px;
}

.divMain {
    background-color: #004980;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px;
    height: 100vh;
}

.divContainer {
    width: 480px;
    height: 459px;
    background-color: #c2f5ff;
    border-radius: 12px;
    padding: 52px 69px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: #000 1px;
    display: inline-block;
}

.divContainer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 40px;
    /*font-family: 'StratosSkyeng', serif;*/
    color: #004980;
    font-weight: 400;
    justify-content: center;
}

.divContainer__level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 24px;
}

.buttonContainerLevelNumber {
    width: 97px;
    height: 98px;
    margin-top: 48px;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    font-weight: 400;
    font-size: 64px;
    color: #0080c1;
    /*font-family: 'StratosSkyeng', serif;*/
}

.divContainerLevelNumber {
    width: 97px;
    height: 98px;
    margin-top: 48px;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    font-weight: 400;
    font-size: 64px;
    color: #0080c1;
    font-family: 'StratosSkyeng', serif;
}

.divContainer__button {
    margin-top: 67px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.buttonStart {
    width: 246px;
    height: 48px;
    border-radius: 12px;
    border: none;
    /*font-family: 'StratosSkyeng', serif;*/
    font-weight: 400;
    font-size: 24px;
    color: #ffff;
    background-color: #7ac100;
    cursor: pointer;
}

.divContainer__timeValue {
    /*font-family: 'StratosSkyeng', serif;*/
    font-weight: 400;
    font-size: 64px;
    color: #000;
    text-align: center;
    padding-top: 10px;
}

.divContainer__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
}

.divContainer__buttonAgain {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.buttonStart {
    width: 246px;
    height: 48px;
    border-radius: 12px;
    border: none;
    /*font-family: 'StratosSkyeng', serif;*/
    font-weight: 400;
    font-size: 24px;
    color: #ffff;
    background-color: #7ac100;
}

.buttonStartAgain {
    width: 246px;
    height: 48px;
    border-radius: 12px;
    border: none;
    /*font-family: 'StratosSkyeng', serif;*/
    font-weight: 400;
    font-size: 24px;
    color: #ffff;
    background-color: #7ac100;
}

.divContainer__timeText {
    /*font-family: 'StratosSkyeng', serif;*/
    font-weight: 400;
    font-size: 24px;
    color: #000;
    text-align: center;
    padding-top: 28px;
}

.card {
    width: 95px;
    height: 133px;
    background-image: url('../img/close_card.jpg');
}

.break {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 0;
}

.gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 15px;
    padding-left: 25px;
    /*padding-right: 25px;*/
}

.gallery_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1010px;
    padding-left: 22px;
    margin-top: 22px;
    margin-bottom: 41px;
}

.time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    vertical-align: top;
    width: 155px;
    /*font-family: 'StratosSkyeng', serif;*/
    font-size: 64px;
    font-weight: 400;
    color: #fff;
}

.time_text {
    /*font-family: 'StratosSkyeng', serif;*/
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 57px;
    text-align: right;
    vertical-align: bottom;
    width: 100%;
    padding-left: 39px;
}

.time_value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
}

/*# sourceMappingURL=style.css.map */
